*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/*Display Inline*/
a{
     border: 3px solid red;
     height: 100px;
     padding: 10px 20px ;
     background-color: white;
}
/*Display Block*/
.block{
     border: 1px solid rgb(0, 13, 255);
     height: 50px;
}
/*Display inline-block*/
.inlineBlock{
     display: inline-block;
     border: 1px solid rgb(255, 0, 191);
     width: 100px;
     background-color: aquamarine;
     border-radius: 5px;
}

.inlineBlock:hover{
     background-color: blueviolet;
     border: 5px dotted rgb(132, 255, 0);
}
p{
     border: 1px solid rgb(0, 13, 255);
     padding: 10px;
}
#div1{
     width: 150px;
     background-color: rgb(167, 240, 240);
     margin-bottom: 20px;
     margin: 10px;
     padding: 20px;
     border: 5px solid blueviolet;
}
#div2{
     width: 150px;
     background-color: rgb(240, 218, 167);
}
h1{
     margin: 10px;
     padding: 20px;
     border: 5px solid blueviolet;
}

/* Box Model */
/* 1 - Padding */
/* 2 - Margin */
/* 3 - Border */
/* 4 - Box Sizing */
