*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 300px;
    background-color: bisque;
    border: 1px solid #000;
}

.box{
    width: 200px;
    height: 200px;
    text-align: center;
    color: #000;
    display: inline-block;
}

.box.cero{
    background-color: aquamarine;
    transform: translateX(200px);
    /* z-index: 10; */
}

.box.uno{
    background-color: violet;
    color: #000;
    transform: translateX(100px);
    /* z-index: 0; */
}

/* .box.uno{
    background-color: blue;
    display: inline-block;
}

.box.dos{
    background-color: green;
    display: inline-block;
}

.box.tres{
    background-color: orangered;
    display: inline-block;

    position: absolute;
    bottom: 100px;
} */ 

/* .redes-sociales{
    position: fixed;
}

.redes-sociales img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: #282828;
    margin-bottom: 10px;
    margin-left: 20px;
}

main{
    padding-top: 100px;
}

p{

    margin-bottom: 100px
} */
